<div class="d-flex justify-content-center w-auto align-items-center">
<div class="dashboard-card row">
<form class="form update-post-form" data-id="{{id}}">
    <div class="form-group mb-3">
        <label for="post-title" class="form-label">Title:</label>
        <input class="form-input" type="text" id="post-title" name="post-title" value="{{ title }}"/>
    </div>
    <div class="form-group mb-3">
        <label for="post-content" class="form-label">Content:</label>
        <textarea class="form-input" id="post-content" name="post-content">{{ content }}</textarea>
    </div>   
        <button type="submit" class="btn" data-id="{{id}}">Update</button>
</form>
</div>
</div>

<script src="/js/updatepost.js"></script>