:root {
    --dark: #524948;
    --purple: #57467B;
    --blue: #7CB4b8;
    --aqua: #70f8ba;
    --lime: #cafe48;
}

body {
    background: linear-gradient(#7CB4b8, #70f8ba);
    height: 100vh;
}

card-body a:link {
    color: black;
}

a {
    color: white;
}

.card {
    display: flex;
}

.post-card {
    background: #cafe4897;   
    width: 50%;
    justify-content: center;
}

.comment-card {
    padding-top: 5px;
    background: #cafe4897;
    border-color:#7cb4b8;
    border-width: 5px;
    border-style: solid;  
}

.comment-card p {
    margin: 2px;
}

.comment-form {
    width: 100%;
    margin-top: 8px;
}

.comment-btn:hover {
    background-color: var(--blue);
    border-style: solid;
    border-width: 2px;
    border-color: (var--dark);
}

.dashboard-card {
    width: 50%;
    background:#57467B;
    color: white;
}

.btn {
    border-style: solid;
    border-width: 2px;
    border-color: #cafe48;
    color: white;
    margin: 5px;
}

.update-card {
    width: 50%;
    background:#57467B;
    color: white;
}

.new-card {
    width: 50%;
    background:#57467B;
    color: white;
}

.form-input {
    margin: 5px;
}

.login-card {
    width: 50%;
    background:#57467B;
    color: white;
}
